<div class="header">
  <table class="header-table">
    <tr>
      <td class="logo-cell">
        <a [routerLink]="['/']">
          <img src="assets/scents_logo.png" alt="Scents Logo" class="logo-img" />
        </a>
      </td>
    </tr>
  </table>
</div>

<div class="nav-bar">
  <table>
    <tr>
      <td *ngFor="let menu of menus" class="col-md-2">
        <button class="button1" [routerLink]="[menu.routerPath]">
          {{ menu.name }}
        </button>
      </td>
    </tr>
  </table>
</div>
